@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond";
  --font-montserrat: "Montserrat";
}

@layer base {
  body {
    @apply relative  bg-neutral-200
  }

  body.preloading, 
  body.menu-open { 
    @apply overflow-hidden 
  }

  li { 
    @apply w-full
  }
}

@layer components {
  .flex-center { 
    @apply flex items-center justify-center 
  }

  .nav-item {
    @apply text-[#b5a189] border-b block w-full py-3 uppercase cursor-pointer
  }

  .slider {
    @apply relative overflow-hidden
  }

  .slider-item {
    @apply bg-[#fff3dcff] absolute top-0 left-0 overflow-hidden;
    transition: left 0.5s cubic-bezier(0.645, 0.045, 0.354, 1);
  }

  .slider-item:nth-child(1) { @apply left-[calc(-260px_+_-20px)]}
  .slider-item:nth-child(2) { @apply left-0}
  .slider-item:nth-child(3) { @apply left-[calc(260px_+_20px)]}
  .slider-item:nth-child(4) { @apply left-[calc((260px_+_20px)_*_2)]} 
  .slider-item:nth-child(5) { @apply left-[calc((260px_+_20px)_*_3)]} 
  .slider-item:nth-child(6) { @apply left-[calc((260px_+_20px)_*_4)]} 
  .slider-item:nth-child(7) { @apply left-[calc((260px_+_20px)_*_5)]} 
  .slider-item:nth-child(8) { @apply left-[calc((260px_+_20px)_*_6)]} 
  .slider-item:nth-child(9) { @apply left-[calc((260px_+_20px)_*_7)]} 
  .slider-item:nth-child(10) { @apply left-[calc((260px_+_20px)_*_8)]} 
}